<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="icon" type="image/png" href="../static/favicon.ico" sizes="16x16">
    <title>Онлайн библиотека</title>
  </head>
  <body>
    <div class="container">
      <ul class="pagination" style="margin-top: 30px;">
        {%if selected_page == 1%}
          <li class="page-item disabled"><a class="page-link" href="../pages/index{{pages_count}}.html">Предыдущая</a></li>
        {%else%}
          <li class="page-item"><a class="page-link" href="../pages/index{{selected_page-1}}.html">Предыдущая</a></li>
        {%endif%}
        {%for count in range(pages_count)%}
          {%if selected_page == count+1%}
            <li class="page-item"><a class="page-link" href="../pages/index{{count+1}}.html" style="background-color: blue; color: white;">{{count+1}}</a></li>
          {%else%}
            <li class="page-item"><a class="page-link" href="../pages/index{{count+1}}.html">{{count+1}}</a></li>
          {%endif%}
        {%endfor%}
        {%if selected_page == pages_count%}
          <li class="page-item disabled"><a class="page-link" href="index1.html">Следующая</a></li>
        {%else%}
          <li class="page-item"><a class="page-link" href="../pages/index{{selected_page+1}}.html">Следующая</a></li>
        {%endif%}
      </ul>
      <div class="row">
        {%for book in books%}
          <div class="card mb-3" style="width: 540px;">
            <div class="col">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../media/{{book.0.img_src}}" class="card-img" alt="Обложка книги">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{book.0.title}}</h5>
                    <p class="card-text">{{book.0.author}}</p>
                    {%for genre in book.0.genres.split(", ")%}
                      <p class="badge badge-secondary">{{genre}}</p>
                    {%endfor%}
                    <br>
                    <a href="../media/{{book.0.book_path}}" target="_blank">Читать</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-3" style="width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../media/{{book.1.img_src}}" class="card-img" alt="Обложка книги">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{book.1.title}}</h5>
                    <p class="card-text">{{book.1.author}}</p>
                    {%for genre in book.1.genres.split(", ")%}
                      <p class="badge badge-secondary">{{genre}}</p>
                    {%endfor%}
                    <br>
                    <a href="../media/{{book.1.book_path}}" target="_blank">Читать</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="w-100"></div>
        {%endfor%}
      </div>
    </div>
    <script src="../static/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>
  </body>
</html>